body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url('https://wallpaperaccess.com/full/2428533.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    overflow: hidden;
}

.content {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 50px 20px;
}

.profile-pic {
    width: 100px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.banner {
    width: 100%;
    max-width: 600px; /* Limitar el ancho del banner */
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
}

h1 {
    font-size: 2.5em;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.button-container {
    margin-top: 20px;
}

.button {
    display: inline-flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 123, 255, 0.7);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    margin: 10px;
}

.button:hover {
    background-color: rgba(0, 123, 255, 1);
    box-shadow: 0 0 20px rgba(0, 0, 255, 1);
}

.icon {
    width: 24px; /* Tamaño del icono */
    margin-right: 8px; /* Espacio entre el icono y el texto */
}
